    <html>
    <body>
        <!--form role="form" enctype="multipart/form-data" action="" method="post">
            <input type="file" name="onixfile" />
            <input type="submit" value="Upload Image" name="submit">
            
            
        </form-->
        <form action="/demo" method="post" enctype="multipart/form-data">
            <input type="file" name ="image" accept="application/x-zip-compressed,image/*">
            <input type="submit" value="Upload selected file to server">
        </form>
</body>
</html>
