            <!-- Footer -->
            <footer>
                <div class="row">
                    <div class="col-lg-12">
                        <p>Copyright &copy; Nguyen Quang Thuc 2015 - Template by <a href="http://startbootstrap.com">Startbootstrap.com</a></p>
                    </div>
                </div>
            </footer>
